<!DOCTYPE HTML SYSTEM>
<html>
	<head>
		<title>Knitting Tools</title>
		<style>
			body {
				font-family: arial, sans-serif;
				margin-top: 40px;
				margin-left: 10%;
				width: 80%;
				background-color: #fcfcfc;
			}
			table {
				border-collapse: collapse;
			}

			td, th {
				border: 1px solid #444444;
				text-align: right;
				padding: 8px;
			}
		</style>
	</head>

	<body>
		<p><a href="/pcgenerator">Punchcard Generator</a>: Generate SVG files from text files for cutting punchcards on a die cutter
		<p><a href="/calculator">Knitting Calculator</a>: Perform a variety of calculations including unit and gauge conversions
	</body>
</html>
