<!DOCTYPE HTML SYSTEM>
<html>
	<head>
		<title>PCGenerator</title>
		<style>
			body {
				font-family: arial, sans-serif;
				margin-top: 40px;
				margin-left: 10%;
				width: 80%;
				background-color: #eeeeee;
			}
			table {
				border-collapse: collapse;
			}

			td, th {
				border: None;
				text-align: left;
				padding: 8px;
			}
		</style>
	</head>

	<body>
		<h1>Punchcard Generator</h1>
		<a href="/knittingtools">[Back To Tools Home]</a>&nbsp;<a href="http://www.brendaabell.com">[Back To My Blog]</a>
		<hr>

		<p>This app will allow you to upload a small text file that contains your pattern represented as a sequence of rows with X's for punched holes and any other character except space for unpunched holes. The program will generate an SVG file that can be imported into the software you use to cut material with your die cutter.
		<p>IMPORTANT!!! This app is currently considered Beta. As such, there may be bugs. If you see something that doesn't look right, please report the issue using the instructions at the bottom of this page.

		<h2>TL;DR</h2>
		<ul>
			<li>Select the file to upload.</li>
			<li>Select your machine type.</li>
			<li>Enter the # vertical repeats if you need them. The # horizontal repeats will be automatically calculated based on the machine type.</li>
			<li>Check "Convert to PNG" if you'd like to download a PNG image instead of SVG.</li>
			<li>Click the Upload button.</li>
		</ul>In a few seconds, you should see a dialog prompting you for where you want to save your file. If you need more detailed instructions, keep reading below.

		<p>
		<form
			id="main"
			method="POST"
			enctype="multipart/form-data"
			action="/pcgenerator"
			onfocus="y.value=vert.value"
			oninput="y.value=vert.value">

			<table>
				<tr>
					<td style="text-align:right">Select file to upload:<br>&nbsp;</td>
					<td colspan="2"><input type="file" name="upfile"><br><small>(maximum file size 4000 characters)<small></td>
				</tr>
				<tr>
					<td style="text-align:right">Select machine type:<br>&nbsp;</td>
					<td colspan="2">
						<select name="machine">
							<option value="12-stitch-br-sr">12-stitch Brother/Silver Reed/Studio</option>
							<option value="18-stitch-mk70">18-stitch Empisal MK70</option>
							<option value="24-stitch-br-sr">24-stitch Brother/Silver Reed/Studio</option>
							<option value="30-stitch-km">30-stitch Knitmaster</option>
							<option value="40-stitch-deco">40-stitch Passap Deco</option>
						</select>
				</td>
				</tr>
				<tr>
					<td style="text-align:right"># Vertical repeats (up to 24):</td>
					<td><input type="range" id="vert" name="vert" min="1" max="24" step="1" value="1">
						<output id="y" name="y" value="1"></output>
						<script>y.value=vert.value;</script></td>
				</tr>
				<tr>
					<td style="text-align:right">Convert to PNG image:</td>
					<td><input type="checkbox" name="png" value="png"></td>
				</tr>
				<tr>
					<td style="text-align;right">Calibrate Only:</td>
					<td><input type="checkbox" name="test" value="test"></td>
				<tr>
					<td></td>
					<td colspan="2"><input type="submit" value="Upload"></td>
				</tr>
			</table>

			<br>
			
			<br>
		</form>

		<hr>

		<h1>Instructions</h1>

		<p>Both upper and lower case X's are supported. The total width in stitches is determined by the number of characters in the first row. For example, the following text file has 4 rows and 12 stitches:

		<pre>
	x-----x-----
	-x-----x----
	--x-----x---
	---x-----x--
		</pre>

		<p>The generator will determine the number of horizontal repeats based on the number of characters in your first row and the type of machine. I.e., if row 1 contains 4 characters and you select a 12-stitch machine, the generator will automatically do 3 horizontal repeats: 4 * 3 = 12.

		<p>By default, the generator will do 1 vertical repeat. I.e., if your file contains 36 rows, the generated file will produce a 36 row card. You can increase the length by adjusting the vertical repeat before clicking the upload button.

		<p>What this means is that you can design a simple 4x4 card and use repeats to make the card as wide or as long as it needs to be in order to work properly. For example, the following text file will generate a 24 row x 48 stitch card if you select a 24-stitch machine and specify 12 for the vertical repeat:

		<pre>
	x-x-
	-x-x
	x-x-
	-x-x
		</pre>

		<p>The resulting SVG file can be imported into any application that understands SVG. You can also display the SVG in some browsers. Neither the text file or resulting SVG will be saved on this site. Be sure to keep them in a safe location so they don't get lost.

		<p>Silhouette users have reported issues importing SVG files or having to resize the SVG in Inkscape before importing. If you have trouble with the SVG file, try checking the Convert To PNG button to see if that gives you a better result.

		<p>Depending on the software you use to view or cut the image, what you see on your screen may or may not be sized properly. If you'd like to calibrate your viewing or cutting software, check the Calibrate Only checkbox and click Upload. That will generate a 100x100mm diagram with a red square. Determine the steps necessary to make your software display or print the square so it's exactly 80x80mm. Then use those same steps to calibrate your software for the generated punchcards.

		<p>If both Convert To PNG and Calibrate Only are checked, the downloaded calibration image will be converted to a PNG image.

		<h2>Bugs & Disclaimers</h2>
		<p>This program has only been tested using Sure Cuts A Lot on a Pazzles Creative Mighty. YMMV!

		<p>If you have questions or feedback, please contact <a href="http://www.ravelry.com/people/beebell">beebell on Ravelry</a> via private message or log at issue on <a href="https://github.com/brendabell/knittingtools/issues">GitHub</a>.</p>

	</body>
</html>
